* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

html {
  height:100%;
  background-color:black;
  scrollbar-color:#c8c8c8 #dedede;
  scrollbar-width:thin
}

body {
  background:black;
  background:linear-gradient(60deg, black 0%, #262d57 100%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  line-height:1.6;
  color:#f1f1f1
}

h2, p, ul {
  margin-bottom:16px
}

h2 {
  background:#edabed;
  background: linear-gradient(to bottom, rgb(255, 127, 255), #4554b5);
  font-size:28px;
  filter: drop-shadow(0px 4px 3px #354582);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}

h4 {
  padding-bottom:16px
}

a {
  border-bottom:2px solid rgb(192, 96, 192)
}

a:hover {
  background:#edabed;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}

b, i {
  color:#e3b8e3
}

li {
  margin-left:2rem
}

ol li {
  padding-bottom:16px
}

#flag {
  position:absolute;
  top:10px;
  left:0;
  width:180px
}

#huddle {
  padding:10px;
  position:relative;
  top:-50px;
  border-image: linear-gradient(to right, #ff7fff, #4554b5) 1;
  border-width: 4px;
  border-style: solid;
  font-size:18px;
  width:400px;
}

#hero {
  padding-top:150px
}

#hero h1 {
  display:inline-block
}

h2, #ten_to_the, #minus, #twelve {
  font-family:"Rubik"
}

#minus, #twelve {
  position:relative;
  font-size:72px
}

#minus, #you_ship {
  font-weight:300;
  color:#f1f1f1
}

h2, #twelve, #we_ship {
  font-style:italic
}

#ten_to_the {
  position:absolute;
  font-weight:400;
  font-size:20px;
  text-shadow:0px 2px 3px #aaa;
  color:#ccc
}

#minus {
  left:-5px;
  text-shadow:0px 4px 3px #999
}

#twelve {
  left:5px;
  background:#edabed;
  background: linear-gradient(to bottom, rgb(255, 127, 255), #4554b5);
  filter: drop-shadow(0px 4px 3px #354582);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}

#twelve_gon {
  position:relative;
  top:-36px;
  left:15px;
  width:60px;
  filter:drop-shadow(0px 4px 0px rgb(96, 48, 96))
}

a, #we_ship {
  background:#edabed;
  background: linear-gradient(to bottom, rgb(255, 127, 255) 0%, #4554b5 140%);
  font-weight:600;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}

#arrow_container {
  padding:20px 0
}

#arrow {
  animation:arrow 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  width:48px;
  height:96px
}

#footer {
  margin-bottom:50px;
  font-weight:300;
  color:#f1f1f1
}

#footer p {
  margin-bottom:2px
}

#love {
  position:relative;
  top:4px;
  width:18px;
}

#hero, main, footer {
  margin:auto;
  max-width:700px
}

.section, footer {
  padding:20px 0
}

.section {
  margin:0 10px 50px 10px;
  border-width:4px;
  border-top-style:none;
  border-right-style:none;
  border-bottom-style:solid;
  border-left-style:none;
  border-image:linear-gradient(to right, #4554b5, #262d57) 1
}

.muted {
  color:#999
}

.disabled {
  border-bottom:2px solid hsl(300, 0%, 56%);
  background:hsl(300, 0%, 80%);
  background: linear-gradient(to bottom, hsl(300, 0%, 75%) 0%, hsl(232, 0%, 49%) 140%);
  cursor:not-allowed;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}

.disabled:hover {
  background:hsl(300, 0%, 80%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}

@media screen and (max-width:768px) {
  #minus, #twelve {
    font-size:48px
  }
  #twelve_gon {
    width:40px
  }
}

@keyframes arrow {
  0%, 100% {
    transform:translateY(0)
  }
  50% {
    transform:translateY(10px)
  }
}

::selection {
  background-color:rgba(200,200,200,0.4);
  -webkit-text-fill-color:#f1f1f1
}